[Unit]
Description=connection storm server

[Service]
User=root
ExecStart=/usr/local/bin/connstorm server --from 8500 --to 8800 --linger 1 --delay 0.1s
Restart=always
LimitNOFILE=1006500
LimitNPROC=1006500
# OOMScoreAdjust=-1000
Environment=GOGC=500
# TasksMax=19096

[Install]
WantedBy=multi-user.target
